* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #004aad;
  box-shadow: 0 0 5px rgba(0, 74, 173, 0.3);
}
